@import "tailwindcss";


@layer{
    .container{
        width: 100%;
        max-width: 1200px;
        margin: auto;
    }
    .elem{
        
        flex-shrink: 0;
        border: 1px solid red;
        border-radius: 20px;
        padding: 12px;
        box-shadow: 0 6px 1px black;
    }
}